.loginArea {
  height: auto;
  background-color: rgb(162, 191, 253);
}

.loginArea {
  display: flex;
  justify-content: center;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 20px;
}

.form input {
  padding: 5px 10px;
}
.form hr {
  width: 100%;
  border: solid rgb(255, 255, 255) 1px;
}

.form button {
  padding: 5px 10px;
}
