#navBar {
  background-color: rgb(158, 208, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  margin: 0 auto;
}
#brand img {
  width: 50px;
}

.navLinks {
  display: flex;
  gap: 40px;
}

.links {
  color: #ffffff;
  font-weight: 500;
}
