#navBar {
  width: 1280px;
  background-color: #9ed0ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  margin: 0 auto;
}
#brand img {
  width: 50px;
}

.navLinks {
  display: flex;
  gap: 40px;
}

.links {
  color: #ffffff;
  font-weight: 500;
}

.active {
  color: red;
}

#navLogin,
#navLogout {
  color: #fff;
}

.loginLogout {
  display: flex;
  gap: 20px;
}
